    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="/assets/components/jquery/dist/jquery.min.js"></script>
    <script src="/app/core-js/client/shim.min.js"></script>
    <script src="/app/zone.js/dist/zone.js"></script>
    <script src="/app/reflect-metadata/Reflect.js"></script>
    <script src="/app/systemjs/dist/system.src.js"></script>
    <script src="/app/system.config.js"></script>
    <script src="/assets/js/app.js"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
    </body>
</html>