<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="app-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title app-title">
                <a href="/">SPRT</a>
            </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="app-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="app-navigation-container">
                <nav class="app-navigation mdl-navigation">
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Home</a>
                </nav>
            </div>
            <button class="app-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
            </button>
            <ul class="app-menu mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Contact</li>
                <li class="mdl-menu__item">Login</li>
            </ul>
        </div>
    </div> <!--mdl-layout__header ends-->
    <div class="mdl-layout__content">
        <a name="top"></a>
        <router-outlet></router-outlet>
    </div>
</div>