<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="app-header mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title app-title">
                <a href="/">SPRT</a>
            </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="app-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="app-navigation-container">
                <nav class="app-navigation mdl-navigation">
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/home">Home</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/admin/dashboard">Dashboard</a>
                </nav>
            </div>
            <button class="app-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
            </button>
            <nav class="app-menu mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <a class="mdl-menu__item">About</a>
                <a class="mdl-menu__item">Contact</a>
                <a *ngIf="!authenticated" class="mdl-menu__item" routerLink="/login">Login</a>
                <a *ngIf="authenticated" class="mdl-menu__item" href="#" (click)="onLogout()">Logout</a>
            </nav>
        </div>
    </div> <!--mdl-layout__header ends-->
    <div class="mdl-layout__content">
        <a name="top"></a>
        <router-outlet></router-outlet>
    </div>
    <div id="app-snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>